<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="ec.com.easysoft.depositocheque"
    version="0.0.1">
    <name>Deposito Cheque</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords>Ionic,Cordova,Camera, Preview, Popup, Floating, Box</keywords>
    <repo></repo>
    <issue></issue>
    <dependency id="cordova-plugin-add-swift-support" version="1.6.0"/>

  <js-module src="www/DepositoCheque.js" name="DepositoCheque">
    <clobbers target="DepositoCheque" />
  </js-module>

  <!-- android -->
  <platform name="android">
  
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="DepositoCheque" >
            <param name="android-package" value="ec.com.easysoft.DepositoCheque"/>
        </feature>
    </config-file>

    <source-file src="src/android/DepositoCheque.java" target-dir="src/ec/com/easysoft/" />
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>


    <config-file target="AndroidManifest.xml" parent="/manifest/application">
    <activity
            android:name="ec.com.easysoft.bancamovil.capturacheque.MakePhotoActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="ec.com.easysoft.bancamovil.capturacheque.PreviewPhotoActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="ec.com.easysoft.bancamovil.capturacheque.InstructionsActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
    </config-file>

    <source-file src="src/android/res/deposito_styles.xml" target-dir="res/values" />
    
    <source-file src="src/android/files/CameraPreview.java" target-dir="src/ec/com/easysoft/bancamovil/capturacheque" />
    <source-file src="src/android/files/InstructionsActivity.java" target-dir="src/ec/com/easysoft/bancamovil/capturacheque" />
    <source-file src="src/android/files/MakePhotoActivity.java" target-dir="src/ec/com/easysoft/bancamovil/capturacheque" />
    <source-file src="src/android/files/PreviewPhotoActivity.java" target-dir="src/ec/com/easysoft/bancamovil/capturacheque" />
    <source-file src="src/android/files/activity_instructions.xml" target-dir="res/layout" />
    <source-file src="src/android/files/activity_make_photo.xml" target-dir="res/layout" />
    <source-file src="src/android/files/activity_preview_photo.xml" target-dir="res/layout" />
    <resource-file src="src/android/res/drawable/intructions.png" target="res/drawable/intructions.png" />
    <resource-file src="src/android/res/drawable/button_continuar.png" target="res/drawable/button_continuar.png" />
    <resource-file src="src/android/res/drawable/iconocamcirc.png" target="res/drawable/iconocamcirc.png" />
    <resource-file src="src/android/res/drawable/iconflashw.png" target="res/drawable/iconflashw.png" />
    <resource-file src="src/android/res/drawable/close.png" target="res/drawable/close.png" />
    <resource-file src="src/android/res/drawable/check.png" target="res/drawable/check.png" />
    <resource-file src="src/android/res/drawable/guia.png" target="res/drawable/guia.png" />
    <resource-file src="src/android/res/drawable/guia_reverso.png" target="res/drawable/guia_reverso.png" />
        
  </platform>


  <!-- iOS -->

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="DepositoCheque">
            <param name="ios-package" value="DepositoCheque" />
        </feature>
    </config-file>
    <source-file src="src/ios/DepositoCheque.swift" />
    <source-file src="src/ios/ViewController.swift" />
    <resource-file src="src/ios/DepositoCheque.storyboard" />
  </platform>

</plugin>
